*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;

  }

header{
    background-color: #A8BAB7;
    height: 80px;
}

nav{
    position: absolute;
    display: inline-block;
    background-color: #bbbbbb44;
    padding-bottom: 100%;
    padding-top: 1%;
}

ul{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

li{
    list-style-type: none;

    padding-bottom: 14px;
}

a{
    color: #676E63;
    text-decoration: none;
}

form{
    display: inline-block;
    position: relative;
    left: 14%;
    top: 30px;
}

h2{
    color: #636E6C;
    padding-bottom: 7px;
}

#add-button{
    background-color: #b4bab181; 
    border: none; 
    border-radius: 3px; 
    color: #333;
    padding: 7px 32px; 
    font-size: 15px;
    position: relative;
    left: 82%;
}

#title-input{

}

#description-input{
    position: relative;
    height: 200px;
    width: 500px;
}